<?xml version="1.0"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="SB.Properties.Settings.MainDBConnString" connectionString="server=130.237.117.141;uid=cuser;pwd=3pmknHQyl;database=joomla;Connect Timeout=300;Charset=utf8;" />
        <add name="SB.Properties.Settings.C1DBConnString" connectionString="server=130.237.117.141;uid=cuser;pwd=3pmknHQyl;database=cells10k;Connect Timeout=300;Charset=utf8;" />
        <add name="SB.Properties.Settings.EmailConnString" connectionString="server=send.ki.se;uid=linmbb;pwd=ser345MM;port=25" />
    </connectionStrings>
    <startup></startup>
</configuration>
