<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="SilverBullet.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <SilverBullet.Properties.Settings>
            <setting name="GenomesFolder" serializeAs="String">
                <value>C:\Documents and Settings\labuser\Skrivbord\Assembler Backup\genomes</value>
            </setting>
            <setting name="RunsFolder" serializeAs="String">
                <value>C:\Documents and Settings\labuser\Skrivbord\Assembler Backup\STRT\Runs</value>
            </setting>
            <setting name="ProjectsFolder" serializeAs="String">
                <value>C:\Documents and Settings\labuser\Skrivbord\Assembler Backup\STRT\Data</value>
            </setting>
            <setting name="SpliceFlankLength" serializeAs="String">
                <value>25</value>
            </setting>
            <setting name="GenerateWiggle" serializeAs="String">
                <value>true</value>
            </setting>
            <setting name="DetermineMotifs" serializeAs="String">
                <value>false</value>
            </setting>
            <setting name="SeqStatsChrIds" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="GenesToPaint" serializeAs="String">
                <value>Sox2,Actb,Nanog,Klf4,Calb1,Rnr2,Tmpo,Trpm6,Pou5f1,Rnr1,Nd1,Cox2,Vcam1,Zfp42,Fgf2r,Nt5e,Runx2,Taz,Osx,Twist,Ap1,Sox9,Sox6,Bmp2,Smad1,Smad4</value>
            </setting>
            <setting name="GenerateGeneProfilesByBarcode" serializeAs="String">
                <value>false</value>
            </setting>
            <setting name="GenerateTranscriptProfiles" serializeAs="String">
                <value>true</value>
            </setting>
            <setting name="GenerateGeneLocusProfiles" serializeAs="String">
                <value>true</value>
            </setting>
            <setting name="LocusFlankLength" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="BowtieIndexFolder" serializeAs="String">
                <value>/sequtils/bowtie-0.12.4/indexes</value>
            </setting>
            <setting name="DoNotAnalyzeGeneVariants" serializeAs="String">
                <value>true</value>
            </setting>
            <setting name="BarcodeSet" serializeAs="String">
                <value>v1</value>
            </setting>
        </SilverBullet.Properties.Settings>
    </applicationSettings>
<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
