<?xml version="1.0"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="SB.Properties.Settings.ESCGConnString" connectionString="server=130.237.117.141;uid=cuser;pwd=3pmknHQyl;database=joomla;Connect Timeout=300;Charset=utf8;" />
  </connectionStrings>
  <startup><supportedRuntime version="v2.0.50727"/></startup>
</configuration>
