<?xml version="1.0" encoding="utf-8"?>

<config>
	<fieldset
		name="client"
		label="client settings"
		description="client config"
	>
		<field
			name="show_category"
			type="radio"
			label="DbApp Client SHOW CATEGORY LABEL"
			description="DbApp Client SHOW CATEGORY DESC"
			default="0"
		>
			<option value="0">JHIDE</option>
			<option value="1">JSHOW</option>
		</field>
	</fieldset>
	<fieldset
		name="permissions"
		label="JCONFIG_PERMISSIONS_LABEL"
		description="JCONFIG_PERMISSIONS_DESC"
	>
		<field
			name="rules"
			type="rules"
			label="JCONFIG_PERMISSIONS_LABEL"
			class="inputbox"
			validate="rules"
			filter="rules"
			component="com_dbapp"
			section="component"
		/>
	</fieldset>
</config>

